<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/responsive.css" />

    <link rel="stylesheet" href="/style/owl/owl.carousel.min.css" />
    <link rel="stylesheet" href="style/owl/owl.theme.default.min.css" />

    <title>NETFLIX CLONE</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h2 class="Logo">NETFLIX</h2>
        <nav>
          <a href="#">Inicio</a>
          <a href="#">Séries</a>
          <a href="#">Filmes</a>
          <a href="#">Documentários</a>
        </nav>
      </div>
    </header>

    <main>
      <div class="filme-principal">
        <div class="container">
          <h3 class="titulo">HOUSE OF CARDS</h3>
          <p class="descricao">
            Nada pode imperdir o político sem escrúpulos Frank Underwood de
            conquistar Washington.
          </p>
          <div class="botoes">
            <button role="button" class="botao">
              <i class="fas fa-play"></i>
              ASSISTIR AGORA
            </button>
            <button role="button" class="botao">
              <i class="fas fa-info-circle"></i>
              MAIS INFORMAÇOES
            </button>
          </div>
        </div>
      </div>
    </main>

    <div class="carrosel-fimes">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img
            class="box-filme"
            href=""
            src="https://www.themoviedb.org/t/p/w440_and_h660_face/rbkGgrEHOPyAEZqPk609QN1Ird6.jpg"
            alt=""
          />
        </div>
        <div class="item">
          <img
            class="box-filme"
            src="https://www.themoviedb.org/t/p/w440_and_h660_face/34nDCQZwaEvsy4CFO5hkGRFDCVU.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div class="item">
          <img
            class="box-filme"
            src="https://www.themoviedb.org/t/p/w440_and_h660_face/z21p0pm82RbHrUyHj8Mu4tOEun5.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div class="item" id="item-1" onclick="box1">
          <img
            class="box-filme"
            src="https://www.themoviedb.org/t/p/w440_and_h660_face/ic0intvXZSfBlYPIvWXpU1ivUCO.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div class="item">
          <img
            class="box-filme"
            src="https://www.themoviedb.org/t/p/w440_and_h660_face/yc2IfL701hGkNHRgzmF4C6VKO14.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div class="item">
          <img
            class="box-filme"
            src="https://www.themoviedb.org/t/p/w440_and_h660_face/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div class="item">
          <img
            class="box-filme"
            src="https://www.themoviedb.org/t/p/w440_and_h660_face/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div class="item">
          <img
            class="box-filme"
            src="https://www.themoviedb.org/t/p/w440_and_h660_face/h1B7tW0t399VDjAcWJh8m87469b.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div class="item">
          <img
            class="box-filme"
            src="https://www.themoviedb.org/t/p/w440_and_h660_face/a26cQPRhJPX6GbWfQbvZdrrp9j9.jpg"
            alt=""
            srcset=""
          />
        </div>
        <div class="item">
          <img
            class="box-filme"
            src="https://www.themoviedb.org/t/p/w440_and_h660_face/tcNniniS4rfqrLH0oORikJfnIwY.jpg"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/01c3877360.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/owl/jquery.min.js"></script>
    <script src="/js/owl/owl.carousel.min.js"></script>
    <script src="/js/owl/setup.js"></script>
  </body>
</html>
